#rotate, #skew, #all, #animate, #pseudo{
  border: 2px solid #000;
  width: 200px;
  height: 200px;
  display: block;
  margin: 10px;
}

#animate{
  font-size: 60px;
  text-align: center;
  line-height: 200px;
 }

#pseudo, #jsEvent{
  background-color: red;
  color: blue;
  font-size: 50px;
  text-align: center;
  line-height: 200px;
}

h3{
  border-bottom: 1px solid #000;
  text-align: center;
}

#rotate {
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);}
}

#skew {
  -ms-transform: skewX(20deg);
  -webkit-transform: skewX(20deg);
  transform: skewX(20deg);
}

#all {
  transform: matrix(1, 2, -1, 40, 40);
  background-color: pink;
}

#pseudo:hover {
  color: #FF00FF;
}